body {
  background-color: #dadada;
  font-family: helvetica, sans-serif;
}

.title h1 {
  font-size: 18px;
  text-align: center;
  text-transform: uppercase;
  padding: 1em;
}

.locations {
  display: inline-block;
  max-width: 100%;
}

.preview {
  width: 100%;
  padding: 0;
  margin: 0 0 1em 0;
}

.preview div {
  float: left;
  width: 100%;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  position: absolute;
}

.preview h1 {
  font-size: 1em;
}

.preview img {
  max-width: 100%;
  box-sizing: border-box;
  position: relative;
  object-fit: cover;
}



@media screen and (min-width: 575px) {
  h1 {
    color: #333;
    font-size: 2em;
  }

@media screen and (min-width: 991px) {
  .locations {
    display:inline-block;
    column-count: 4;
    padding: 1em;
    margin: 2em;
    float: left;
  }

  img {
    max-width: 100%;
    max-height: 150px;
    object-fit: cover;
  }

  h1 {
    color: #333;
    font-size: 2em;
  }
}
