body {
  background-color: #dadada;
  font-size: 10px;
}

h1 {
  font-size: 2.5em;
  text-align: center;
  text-transform: uppercase;
  font-weight: normal;
  font-family: 'PT Sans Narrow', sans-serif;
}

.title {
  margin: 1em;
  font-family: sans-serif;
}

div {
  display: flex;
  flex-flow: wrap;
  font-weight: bold;
  text-align: center;
}

div > * {
  padding: 10px;
  flex: 1 100%;
}

img {
  display: block;
  max-width: 100%;
  max-height: 250px;
  object-fit: cover;
}

.locations h1 {
  position: absolute;
  padding: 1em;
  text-transform: capitalize;
}

@media screen and (min-width: 575px) {
  .locations {
    display:inline-block;
    column-count: 2;
  }

  div {
    flex: 1 auto;
  }


img {
  display: block;
  max-width: 100%;
  max-height: 250px;
  object-fit: cover;
  margin: 5px;
}
}

@media screen and (min-width: 991px) {
  .locations {
    display:inline-block;
    column-count: 4;
  }

  div {
    flex: 1 auto;
  }

  img {
    display: block;
    max-width: 100%;
    max-height: 250px;
    object-fit: cover;
    margin: 5px;
  }
}
