body {
  background-color: #dadada;
  font-family: helvetica, sans-serif;
}

<<<<<<< HEAD
<<<<<<< HEAD
h1 {
  font-size: 2.5em;
  text-align: center;
  text-transform: uppercase;
  font-weight: normal;
  font-family: 'PT Sans Narrow', sans-serif;
}

.title {
  margin: 1em;
  font-family: sans-serif;
}

div {
  display: flex;
  flex-flow: wrap;
  font-weight: bold;
=======
.title h1 {
  font-size: 18px;
>>>>>>> 5eaba737b8c7f350c972ec5195ee0b19fe825d76
=======
.title h1 {
  font-size: 18px;
>>>>>>> 5eaba737b8c7f350c972ec5195ee0b19fe825d76
  text-align: center;
  text-transform: uppercase;
  padding: 1em;
}

.locations {
  display: inline-block;
  max-width: 100%;
}

.preview {
  width: 100%;
}

.preview div {
  float: left;
  width: 100%;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  position: absolute;
<<<<<<< HEAD
<<<<<<< HEAD
  padding: 1em;
  text-transform: capitalize;
}

@media screen and (min-width: 575px) {
  .locations {
    display:inline-block;
    column-count: 2;
  }

  div {
    flex: 1 auto;
  }


img {
  display: block;
  max-width: 100%;
  max-height: 250px;
  object-fit: cover;
  margin: 5px;
}
}

@media screen and (min-width: 991px) {
  .locations {
    display:inline-block;
    column-count: 4;
  }

  div {
    flex: 1 auto;
  }

  img {
    display: block;
    max-width: 100%;
    max-height: 250px;
    object-fit: cover;
    margin: 5px;
  }
}
=======
}

.preview h1 {
  font-size: 1em;
}

.preview img {
  max-width: 100%;
  position: relative;
  object-fit: cover;
}

@media screen and (min-width: 575px) {

  .preview  {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
  }

  h1 {
    color: #333;
    font-size: 2em;
  }

@media screen and (min-width: 991px) {
>>>>>>> 5eaba737b8c7f350c972ec5195ee0b19fe825d76
=======
}

.preview h1 {
  font-size: 1em;
}

.preview img {
  max-width: 100%;
  position: relative;
  object-fit: cover;
}

@media screen and (min-width: 575px) {

  .preview  {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
  }

  h1 {
    color: #333;
    font-size: 2em;
  }

@media screen and (min-width: 991px) {
>>>>>>> 5eaba737b8c7f350c972ec5195ee0b19fe825d76
